<?xml version="1.0" ?>
<config>
    <modules>
        <My_Statistic>
            <version>1.0.7</version>
        </My_Statistic>
    </modules>
    <global>
        <blocks>
            <statistic>
                <class>My_Statistic_Block</class>
            </statistic>
        </blocks>
        <models>
            <statistic>
                <class>My_Statistic_Model</class>
                <resourceModel>statistic_resource</resourceModel>
            </statistic>
            <statistic_resource>
                <class>My_Statistic_Model_Resource</class>
                <entities>
                    <visits>
                        <table>my_stats_visits</table>
                    </visits>

                    <country>
                        <table>my_stats_country</table>
                    </country>

                    <ipaddresses>
                        <table>my_stats_ipaddresses</table>
                    </ipaddresses>

                    <pages>
                        <table>my_stats_pages</table>
                    </pages>

                    <pagevisit>
                        <table>my_stats_page_visit</table>
                    </pagevisit>

                </entities>
            </statistic_resource>
        </models>

        <resources>
            <statistic_setup>
                <setup>
                    <module>My_Statistic</module>
                </setup>
            </statistic_setup>
        </resources>

        <helpers>
            <statistic>
                <class>My_Statistic_Helper</class>
            </statistic>
        </helpers>

    </global>

    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <visitor><!--Произвольное название слушателя-->
                        <class>statistic/visits</class><!--Класс /Model/observer-->
                        <method>controllerActionPredispatch</method> <!--Метод который будет вызываться в обсервере при событии, описан в классе-->
                        <type>singleton</type>
                    </visitor>
                </observers>
            </controller_action_predispatch>

            <controller_front_send_response_after>
                <observers>
                    <page_visits>
                        <class>statistic/pages</class>
                        <method>controllerFrontSendResponseAfter</method>
                        <type>singleton</type>
                    </page_visits>
                </observers>
            </controller_front_send_response_after>
        </events>
        <routers>
            <statistic>
                <use>standard</use>
                <args>
                    <module>My_Statistic</module>
                    <frontName>statistic</frontName>
                </args>
            </statistic>
        </routers>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <statistic before="Mage_Adminhtml">My_Statistic_Adminhtml</statistic>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <statistic module="statistic">
                    <file>mystatistic.xml</file>
                </statistic>
            </updates>
        </layout>

    </adminhtml>

    <default>

    <statistic>
        <settings>
            <enabled>1</enabled>
            <block_count>10</block_count>
        </settings>
    </statistic>
    </default>
</config>
